{% extends 'base.html' %}

{% block content %}

<div class="page-header">
    <h1>Report & Export</h1>
    <p>Export clustering results and reports.</p>
</div>

<div class="export-grid">

    <div class="glass-card">

        <h2>Clustered Dataset</h2>

        <button class="primary-btn">
            Download CSV
        </button>

    </div>

    <div class="glass-card">

        <h2>PDF Report</h2>

        <button class="primary-btn">
            Download PDF
        </button>

    </div>

    <div class="glass-card">

        <h2>Charts & Visuals</h2>

        <button class="primary-btn">
            Export Charts
        </button>

    </div>

</div>

{% endblock %}