{% extends 'base.html' %}

{% block content %}

<section class="hero">

    <div class="hero-content">
        <p class="tag">UNSUPERVISED LEARNING SYSTEM</p>

        <h1>
            Customer Segmentation
            <span>using ISODATA</span>
        </h1>

        <p class="subtitle">
            Analyze customer behavior and automatically discover intelligent customer groups.
        </p>
        <div class="hero-buttons">
            <button class="primary-btn">Upload Dataset</button>
            <button class="secondary-btn">Try Demo</button>
        </div>
    </div>

</section>

<section class="cards-grid">

    <div class="glass-card">
        <h3>Algorithm</h3>
        <p>ISODATA</p>
    </div>

    <div class="glass-card">
        <h3>Dataset</h3>
        <p>CC-GENERAL</p>
    </div>

    <div class="glass-card">
        <h3>Features</h3>
        <p>18 Variables</p>
    </div>

</section>

{% endblock %}